RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/app
RewriteRule ^app/([A-Za-z]+)/([A-Za-z]+)/?$ app.php?classe=$1&met=$2
RewriteRule ^app/([A-Za-z]+)/([A-Za-z]+)/([0-9]+)/?$ app.php?classe=$1&met=$2&arg0=$3 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [L]