/* Fast Delivery Styles */

#login-video{   
   position: fixed;
   min-width: 100%;
   min-height: 100%;   
   z-index: -100;
   /*filter: contrast(80%);  ESSA COR: #F7F618*/
}

#logo img{
	margin: 0 auto;
}

form label{
	color: #fff;
	font-size: 2em;
}

#login-form{
	padding: 8%;
}

#login-form .form-control:focus{
	  outline:none;
	  border-color: rgb(247,246,24) !important;
}
#login-form .btn-primary{
	background-color: #F7F618;		
	text-shadow: 2px 2px #000;
	outline: none; 
s
}
#login-form .btn-primary:hover{
	transition: 1s;
	filter: contrast(200%);
};