<!Doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title> Motorista </title>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- BOOTSTRAP IMPORTS  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Meus Imports -->
	<link rel="stylesheet" href="webapp/public/css/painel.css">
	<script type="text/javascript" src="webapp/public/js/motor.js"></script>
	<script type="text/javascript" src="webapp/public/js/logout.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body>
    <!-- Menu de Navegação -->
    <nav class="nav navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img alt="Logo" class="img-responsive" src="webapp/public/img/minilogo.png">
                </a>
            </div>
            <ul class="nav navbar-nav">
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" 
              role="button" ria-haspopup="true" aria-expanded="false">Painel de Controle
              <span class="glyphicon glyphicon-cog"></span></a>
                   <ul class="dropdown-menu">
                          <li><a href="/motorista"><span class="glyphicon glyphicon-user"></span>
                          Cadastrar Motorista</a></li>
                          <li><a href="/veiculo"><span class="glyphicon glyphicon-road"></span>
                          Cadastrar Veiculo</a></li>
                          <li><a href="/taxa"><span class="glyphicon glyphicon-usd"></span>
                          Definir Taxa de Serviço</a></li>
                          <li><a href="/pedido"><span class="glyphicon glyphicon-eye-open"></span>
                          Visualizar Pedidos</a></li>
                  </ul>
              </li>	
              
              <li><a href="/mapa">Mapa
              <span class="glyphicon glyphicon-map-marker" ></span></a></li> 
              <li><a id="logout">Sair 
                  <span class="glyphicon glyphicon-log-out"></span></span></a></li> 
            </ul>
        </div>
    </nav>
   
    <section class="container panel panel-default">
       <div class="panel-heading"> Cadastrar Motorista </div>
       <div class="panel-body">
        <div class="row-fluid">
            <!-- Formulario Cadastro Motorista -->
            <form class="form-horizontal" id="form-motorista">
                <div class="form-group">
					<label class="control-label col-sm-1" for="nome">Nome</label>
					<div class="col-sm-5">
					 	<input type="text" class="form-control" id="nome" placeholder="Digite o nome"  maxlength="50" minlength="3" required>
					 </div>
					</div>
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="email">E-mail</label>
				    <div class="col-sm-5">
				        <input type="email" class="form-control" id="email" placeholder="Digite o e-mail" maxlength="70">
				    </div>
				</div>	
				<div class="form-group">
				    <label class="control-label col-sm-1">Sexo</label>
				    <div class="col-sm-5">
        				<label class="radio-inline"><input type="radio" name="sexo" value="M" checked>Masculino</label>
                        <label class="radio-inline"><input type="radio" name="sexo" value="F">Feminino</label>
                    </div>
				</div>
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="telefone">Telefone</label>
				    <div class="col-sm-5">
				        <input type="tel" class="form-control" id="telefone" placeholder="Digite o telefone" maxlength="10" required>
				    </div>
				</div>	
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="endereco">Endereço</label>
				    <div class="col-sm-5">
				        <input type="text" class="form-control" id="endereco" placeholder="Digite o endereco" minlength="3" maxlength="70" required>
				    </div>
				</div>
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="cidade">Cidade</label>
				    <div class="col-sm-5">
				        <input type="text" class="form-control" id="cidade" placeholder="Digite a cidade" minlength="2" maxlength="30" required>
				    </div>
				</div>
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="estado">Estado</label>
				    <div class="col-sm-5">
				        <select class="form-control" id="estado" required>
				            <option value="">Selecione</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espirito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
				        </select>
				    </div>
				</div>
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="bairro">Bairro</label>
				    <div class="col-sm-5">
				        <input type="text" class="form-control" id="bairro" placeholder="Digite o Bairro" minlength="2" maxlength="30" required>
				    </div>
				</div>
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="cep">CEP</label>
				    <div class="col-sm-5">
				        <input type="text" class="form-control" id="cep" placeholder="Digite o CEP" minlength="8" maxlength="8" required>
				    </div>
				</div>
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="cpfs">CPF</label>
				    <div class="col-sm-5">
				        <input type="text" class="form-control" id="cpfs" placeholder="Digite seu CPF" maxlength="11" minlength="11" required>
				    </div>
				</div>
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="nascimento">Nascimento</label>
				    <div class="col-sm-5">
				        <input type="date" class="form-control" id="nascimento" placeholder="Digite a Data de Nascimento"  max="1997-12-31" required>
				    </div>
				</div>
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="login">Login (Telefone)</label>
				    <div class="col-sm-5">
				        <input type="text" class="form-control" id="login" placeholder="Login para acesso ao aplicativo." maxlength="11" minlength="11" required>
				    </div>
				</div>
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="senha">Senha</label>
				    <div class="col-sm-5">
				        <input type="password" class="form-control" id="senha" placeholder="Digite a senha" minlength="6" maxlength="20" required>
				    </div>
				</div>
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="rsenha">Repita</label>
				    <div class="col-sm-5">
				        <input type="password" class="form-control" id="rsenha" placeholder="A senha deve ser repetida" minlength="6" maxlength="20" required>
				    </div>
				</div>
				
				<div class="form-group">
				    <label class="control-label col-sm-1" for="veiculo">Veiculo</label>
				    <div class="col-sm-5">
				        <select class="form-control" id="veiculo" required>
				            <option value="">Selecione o Veiculo</option>
				        </select>
				    </div>
				</div>
				
			    <div class="form-group"> 
                    <div class="col-sm-offset-1 col-sm-5">
                      <button type="submit" class="btn btn-primary" >enviar
                      <span class="glyphicon glyphicon-send"></span></button>
                      <button type="reset" class="btn btn-danger">limpar
                      <span class="glyphicon glyphicon-erase"></span></button>
                    </div>
                </div>
            </form>
        </div></div>
    </section>
  	<!-- Modal de Cadastro -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel"></h4>
					</div>
					<div class="modal-body" id="corpo-modal"></div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>					
					</div>
					</div>
			</div>
		</div>
<!-- Fim Modal -->

</body>
</html>
