<!Doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title> Taxas </title>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- BOOTSTRAP IMPORTS  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Meus Imports -->
	<link rel="stylesheet" href="webapp/public/css/painel.css">
	<script type="text/javascript" src="webapp/public/js/taxa.js"></script>
</head>
<body>
    <!-- Menu de Navegação -->
    <nav class="nav navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/motorista" style="padding: 0;">
                    <img alt="Logo" class="img-responsive" src="webapp/public/img/minilogo.png">
                </a>
            </div>
            <ul class="nav navbar-nav">
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" 
              role="button" ria-haspopup="true" aria-expanded="false">Painel de Controle
              <span class="glyphicon glyphicon-cog"></span></a>
                   <ul class="dropdown-menu">
                          <li><a href="/motorista"><span class="glyphicon glyphicon-user"></span>
                          Cadastrar Motorista</a></li>
                          <li><a href="/veiculo"><span class="glyphicon glyphicon-road"></span>
                          Cadastrar Veiculo</a></li>
                          <li><a href="/taxa"><span class="glyphicon glyphicon-usd"></span>
                          Definir Taxa de Serviço</a></li>
                          <li><a href="/pedido"><span class="glyphicon glyphicon-eye-open"></span>
                          Visualizar Pedidos</a></li>
                          <li><a href="#"><span class="glyphicon glyphicon-search"></span>
                          Usuários</a></li>
                  </ul>
              </li>
              
              <li><a href="/mapa">Mapa
              <span class="glyphicon glyphicon-map-marker" ></span></a></li> 
              <li><a href="/">Sair 
                  <span class="glyphicon glyphicon-log-out"></span></span></a></li> 
            </ul>
        </div>
    </nav>
   
       <section class="container panel panel-default">
       <div class="panel-heading"> Manipular taxa de medidas </div>
           <div class="panel-body">
            <div class="row-fluid"> 
                 <form class="form-horizontal" id="form-taxa">
                     
                  <div class="form-group">
    				    <label class="control-label col-sm-2" for="medida">Selecione Medida</label>
    				    <div class="col-sm-5">
    				        <select class="form-control" id="medida" required>
    				            <option value=""> Selecione </option>
    				        </select>
    				    </div>
    				</div>
                    
                   <div class="form-group">
    				    <label class="control-label col-sm-2" for="vlInicial">Valor Inicial</label>
    				    <div class="col-sm-5">
    				        <input type="number" class="form-control" id="vlInicial" placeholder="R$" required>
    				    </div>
				    </div>
				    
				    <div class="form-group">
    				    <label class="control-label col-sm-2" for="qtInicial">Quantidade Inicial</label>
    				    <div class="col-sm-5">
    				        <input type="number" class="form-control" id="qtInicial" required>
    				    </div>
				    </div>
				   
				    <div class="form-group">
    				    <label class="control-label col-sm-2" for="vlMedida">Valor por Medida</label>
    				    <div class="col-sm-5">
    				        <input type="number" class="form-control" id="vlMedida" placeholder="R$" required>
    				    </div>
				    </div>
				    
				    <div class="form-group">
    				    <label class="control-label col-sm-2" for="qtMedida">Quantidade Medida</label>
    				    <div class="col-sm-5">
    				        <input type="number" class="form-control" id="qtMedida" required>
    				    </div>
				    </div>
                   
				</div>
			
					<div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-5">
                      <button type="submit" class="btn btn-primary" >Atualizar valores
                      <span class="glyphicon glyphicon-send"></span></button>
                      
                    </div>
                </div>
			</form>
			
			
        </div><div class="row-fluid">
			    <div class="col-md-2">
			    <button class="btn btn-primary" id="vigorar" style="margin-left:125%">Por medida em vigor</button>
			    </div>
        </div>
    </div>
    	
    </section>
    
    <!-- Modal de Cadastro -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel"></h4>
					</div>
					<div class="modal-body" id="corpo-modal"></div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>					
					</div>
					</div>
			</div>
		</div>
<!-- Fim Modal -->
</body>
</html>